body{
    margin: 0;
    padding: 0;
    background: #20232b;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}

p {
    margin-bottom: .9rem;
}

.container{
    background: white;
    border-radius: 20px;
    margin: 5% 10%;
    color: black;
    padding: 10px 30px;
    min-width: min-content;
}

.fields {
    display: flex;
    flex-wrap: wrap;
}

h1 {
    font-size: 3rem;
    text-align: center;
}
.secondary {
    font-weight: 400;
    font-size: 1.3rem;
}

input {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 50px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
}

button {
    display: block;
    margin: 14px auto;
    width: 50%;
    background: #861202;
    color: white;
    font-family: 'Roboto', sans-serif;
    box-shadow: 2px 2px #ac2b1a;
    font-weight: 700;
    font-size: 1.5rem;
    border: none;
    border-radius: 12px;
    padding: 10px;
}

label, input, p, .date{
    text-align: center;
    width: 100%;
    font-weight: 500;
}

.results{
    display: none;
}

.value {
    font-weight: 700;
    font-size: 3rem;
    margin: auto;
    margin-bottom: 30px;
}


.topline, .midline {
    box-sizing: border-box;
    border: 1px solid white;
    margin: 30px auto;
    background-color: #caddf5;

}

.current-rent{
    position: relative;
    width: 100%;
}

.current-rent .icon{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    text-emphasis: none;
}

@media only screen and (min-width: 900px){
    .date {
        flex-basis: 45%;
        margin: 20px 0;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .current-rent {
        width: 50%;
        margin: auto;
    }
    button {
        width: auto;
        min-width: 20%;
        margin: 40px auto;
    }
    .topline, .midline {
        width: min-content;
        min-width: 50%;
    }
}
