body {
  margin: 0;
  padding: 0;
  background: #20232b;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}

p {
  margin-bottom: 0.9rem;
  text-align: center;
}
label,
input,
.date {
  text-align: center;
  width: 100%;
  font-weight: 500;
}

.container {
  background: white;
  border-radius: 20px;
  margin: 5% 10%;
  color: black;
  padding: 10px 30px;
}

.i-made-this {
  border-radius: 20px;
  margin: 5% 10%;
  padding: 10px 30px;
  min-width: min-content;
  border: 4px dashed white;
  border-radius: 0;
  font-size: 1.2rem;
}

.i-made-this p,
.i-made-this ul {
  text-align: left;
}

.attribution > * {
  margin: 0 1%;
}

.michael {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-basis: 40%;
}

.attribution img {
  box-sizing: border-box;
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  align-self: center;
}

ul {
  list-style: none;
  text-align: center;
  line-height: 2rem;
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: #ff5640;
}

a:hover {
  color: #ffa397;
}

h1,
h2 {
  text-align: center;
}

h1 {
  font-size: 2.3rem;
}

h2 {
  font-size: 1.8rem;
}
.secondary {
  font-weight: 400;
}

.primary {
  font-weight: 500;
}

input {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 50px;
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
}

button {
  display: block;
  margin: 14px auto;
  width: 50%;
  background: #861202;
  color: white;
  font-family: "Roboto", sans-serif;
  box-shadow: 2px 2px #ac2b1a;
  font-weight: 700;
  font-size: 1.5rem;
  border: none;
  border-radius: 12px;
  padding: 10px;
}

.container a {
  color: #861202;
  font-weight: 600;
}

.container a:hover {
  color: #690c00;
}

button:hover {
  background-color: #690c00;
}

.results {
  display: none;
}

.value {
  font-weight: 700;
  font-size: 3rem;
  margin: auto;
  margin-bottom: 30px;
}

.topline,
.midline {
  box-sizing: border-box;
  border: 1px solid white;
  margin: 30px auto;
  background-color: #caddf5;
}

.current-rent {
  position: relative;
  width: 100%;
}

.current-rent .icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  text-emphasis: none;
}

@media only screen and (min-width: 900px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }
  .fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .date {
    max-width: 40%;
    margin: 20px 0;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .current-rent {
    width: 50%;
    margin: auto;
  }
  button {
    width: auto;
    min-width: 20%;
    margin: 40px auto;
  }
  .topline,
  .midline {
    width: min-content;
    min-width: 50%;
  }
  .options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .options p {
    max-width: 45%;
    padding: 0 12px;
  }
  .attribution {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .endline p {
    text-align: center;
  }
}
.options p {
  padding: 3%;
  box-sizing: border-box;
  background-color: #caddf5;
}
<<<<<<< HEAD
.options p{
    padding: 3%;
    box-sizing: border-box;
    background-color: #caddf5;
}
=======
>>>>>>> ebe2ed5714514acdb769ce50a7fb0aa74c79691e

.explainer {
  display: none;
}

.explainer span {
  font-weight: 500;
}

.error {
  margin: 5% 10%;
}
